<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/docHead", {}) %>
  <title>Nearest Airport To - Find The Nearest Airpot To Any Location</title>
</head>
<body>
  <main class="container flex flex-v">
    <h1 class="title-type">Nearest Airport To...</h1>
    <p class="body-type top-space">Type a location to find the nearest airport.</p>
    <form class="top-space-s flex flex-around" method="GET" action="/nearestAirport">
      <input name="location" type="text" id="locationInput" placeholder="Enter a location..." />
      <button type="submit" class="cta">Search</button>
    </form>
    <ul class="flex flex-v">
      <% nearestAirports.forEach(function(airport) { %>
      <li class="flex flex-between std-padding">
        <p><%= airport.name %> (<%= airport.iata_code %>)</p>
        <p><%= Math.round(airport.distance) %> miles</p>
      </li>
      <% }) %>
    </ul>
  </main>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&libraries=places"></script>
  <script>
    var input = document.getElementById("locationInput");
    var autocomplete = new google.maps.places.Autocomplete(input, {});
  </script>
</body>
</html>