<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/docHead", {}) %>
  <link rel="stylesheet" href="/styles/index.css">
  <title>Nearest Airport To - Find The Nearest Airpot To Any Location</title>
</head>
<body>
  <main class="container flex flex-v-center">
    <h1 class="title-type top-space">Nearest Airport To...</h1>
    <p class="body-type top-space-s">Type a location to find the nearest airport.</p>
    <form class="flex flex-around top-space-s" method="GET" action="/nearestAirport">
      <input value="<%= location %>" name="location" type="text" id="locationInput" placeholder="Enter a location..." required />
      <button type="submit" class="cta">Search</button>
    </form>
    <% if(nearestAirports.length) { %>
    <div id="searchResults" class="top-space-s">
      <ul class="flex flex-v">
        <% nearestAirports.forEach(function(airport) { %>
        <li class="airport body-type flex flex-between">
          <p><%= airport.name %> (<%= airport.iata_code %>)</p>
          <p class="bold"><%= Math.round(airport.distance) %> miles</p>
        </li>
        <% }) %>
      </ul>
    </div>
    <% } else if (location) { %>
    <p class="body-type">No airports within 150 miles</p>
    <% } else { %>
    
    <% } %>
    </div>
  </main>
  <footer class="container flex flex-center top-space-s">
    <p class="body-type push-right">Made by </p>
    <a href="https://www.atlaseasy.com">
      <div class="Logo">
        <span>Atlas</span>
        <img
          src="https://s3.eu-west-2.amazonaws.com/atlaseasy/AtlasEasy-icon.svg"
          alt="Atlas Easy Logo"
          width="50" />
        <span>Easy</span>
      </div>
    </a>
  </footer>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&libraries=places"></script>
  <script>
    var input = document.getElementById("locationInput");
    var autocomplete = new google.maps.places.Autocomplete(input, {});
  </script>
</body>
</html>